

/*第二部分导航栏搜索栏*/
.section{
    width: 100%;
    height: 90px;
	background-color:gold;
	position: relative;
	z-index: 1;
	margin-bottom:20px;
}
.section .logo{
	height: 70px;
	margin-top: 12px;
	margin-left: 10px;
	float: left;
}
.section .zhi{
	height: 40px;
	margin-top: 50px;
	margin-left: 10px;
	float: left;
}
.section a{
	text-decoration: none;
	color: black;
	transition:0.5s ;
	margin-left: 24px;
	font-size: 16px;
	font-weight: 600;
}
.section .a1{
	font-size:25px;
	line-height: 90px;
	margin-left:80px;
	margin-right:100px;
	float: left;
}
