

			#chat{
			display:none;
			background:white;
				border: 1px solid #1D7DB1;
				position: absolute;
				top:250px;
				left:330px;
				width:600px ;
				height:400px ;
			}
			#chattop{
				width:600px;
				height:26px;
				background: lightskyblue;
				position: relative;
			}
			#chat #left{
			float:left;
				width:350px;
				height: 374px;
			}
			#chat #right{
			    width:247px;
				height: 374px;
				float: right;
			}
			#chat #right #price{
			margin-top:20px;
			margin-bottom:10px;
			}
			#chat #right #price .price{
			font-weight: bold;
			color: orangered;
			font-size: 33px;
		}
		#chat #right #info{

		}
		#chat #right #info p{
			text-indent:40px;
			font-weight: bold;
			color: red;
			font-size: 20px;
		}
			#chat #chattop #guanbi{
				position: absolute;
				right: 0px;
			}
			#chat #chattop #chattoptext{
				width: 100px;
				height: 24px;
				margin-right: 460px;
				
			}
			#chat #chattop #chattoptext span{
				width: 200px;
				height: 24px;
				line-height: 24px;
			}
			#chat #left #chatcontent{
				width: 271px;
				height: 159px;
				margin-bottom: 100px;
			}
			#chat #left #chatcontent iframe{
				width: 350px;
				height: 255px;
			}
		*{
			margin: 0px;
			padding: 0px;
		}

		#top{

			width: 100%;
			height: 500px;
		}
		#top #left{
			margin-left: 100px;
			margin-top: 50px;
			float:left;
		    width:400px;
		    height: 400px;
		}	
		#top #right{
		margin-left: 100px;
			position: relative;
			margin-top:50px;
			float:left;
			width:500px;
		    height: 500px;
		}
		#top #right h2{
			text-align: center;
			font-family: "黑体";
		}
		#top #right #price{
			font-family: "楷体";
			width: 500px;
			height: 100px;
			margin-top: 10px;
			margin-left: 10px;
			background-color:whitesmoke ;
		}
		 .originalprice{
			font-size:18px;
			text-decoration:line-through;
		}
		#top #right .price{
			font-weight: bold;
			color: orangered;
			font-size: 33px;
		}
		#top #right #info{
			margin-top: 20px;
		}
		#top #right #info p{
			text-indent:40px;
			font-weight: bold;
			color: red;
			font-size: 20px;
		}
		.mainimg{
			margin-top: 50px;
			margin-left: 50px;
			width: 400px;
			height: 400px;
		}
		#left a{
			text-decoration: none;

			margin-left:30px ;
			font-size: 15px;
			font-family: arial;
			color: gray;
		}
		#button{
			position: absolute;
			bottom: 50px;
			left: 120px;
			width:200px;
			height:50px;
			background-color: red;
		}
		#top #right #button input{

			color:orangered;
			border: 3px solid orangered;
			font-weight:bold;
			font-size:30px;
			width:200px;
			height:50px;
			background-color: navajowhite;
		}
		#left a:hover{
			color:red;
		}
		