.goodsContent{
	width: 100%;
	height: 1360px;
	background:rgba(245,245,245);
}
.goodsContent .goodsTitle{
	width:1212px;
	height: 70px;
	margin-left: 60px;
	background-color: rgb(245,245,245);
	
}
.goodsContent .goodsTitle2{
	color: rgb(54,55,56);
	font-size: 23px;
	line-height: 70px;
	font-weight: bold;
}
.goodsContent .goodsTitle3{
	color: rgb(54,55,56);
	font-size: 19px;
	line-height: 70px;
	margin-left: 60px;
	font-weight: 500;
}
.goodsContent .goodsTitle ul{
	float: right;
	height: 70px;
	margin-right: 280px;
}
.goodsContent .goodsTitle ul li{
	float: left;
	width:160px;
	background-color: rgb(245,245,245);
	line-height: 70px;
	text-align: center;
}
.goodsContent .goodsTitle ul li:hover{
	background-color: white;
}
.goodsContent .goodsTitle ul li a{
	text-decoration: none;
	color: rgb(109,109,109);
}
.goodsContent .goodsTitle ul li a:hover{
	color: rgb(255,68,0);
}
.goodsBlock{
	width: 1226px;
	height:700px;
	/*background-color: aquamarine;*/
	margin-left: 60px;
	position: relative;
}
.goodsBlock .goods img{
	width: 230px;
	height: 230px;
}

.goodsBlock .goods{
	width: 230px;
	height: 300px;
	/*background: red;*/
	float: left;
	transition:0.5s;
	border: 1px solid rgb(230,230,230);
	position: relative;
	margin:0px 13px 20px 0px;
}
.goodsBlock .goods:hover{
	box-shadow: 5px 5px 5px black;
}
.goodsBlock a{
	text-decoration: none;
	
}
.goodsBlock .goods .price{
	height: 70px;
	width: 230px;
	position: absolute;
	bottom: 0px;
	transition:0.5s;
}
.goodsBlock .goods .price:hover{
	background-color: rgb(0,180,255);
	opacity: 0.8;
}
.goodsBlock .goods .price .span1{
	display: block;
	width: 230px;
	height: 35px;
	color: black;
	font-size: 16px;
	line-height: 35px;
	overflow: hidden;
	text-align: center;
	font-weight: bold;
}
.goodsBlock .goods .price .span2{
	display: block;
	width: 230px;
	height: 35px;
	 color: rgb(255,68,0);
	font-size: 16px;
	line-height: 35px;
	overflow: hidden;
	text-align: center;
}
.goodsBlock .goods .price .span3{
	 color: rgb(255,68,0);
	font-size: 14px;
	line-height: 35px;
	
}
/*版权所有*/
footer{
	width: 100%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	margin:40px auto;
	color: rgb(133,133,133);
}