iframe{
	width:100%;
	min-height:500px;
		scrolling:no;
	border:none;
}
header{
	width:100%;
	height:45px;
	background-color: rgb(245,245,245);
	position: relative;
	
}
header a{
	line-height: 45px;
	text-decoration: none;
	font-size: 16px;
	transition:0.5s;
}
header .a1{
	margin-left: 80px;
	color: rgb(255,68,0);
}
header .a2{
	margin-left: 10px;
}
header .a2:hover{
	color: rgb(255,68,0);
}
header .a3{
	margin-left: 10px;
}
header .a3:hover{
	color: rgb(255,68,0);
}
header .ul1{
	width: 50%;
	height: 45px;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 2
	/*background-color: red;*/
	/*float: right;*/
}
header .ul1 li{
	text-align: center;
	line-height: 45px;
	float: left;
	font-size: 16px;
	width: 115px;
	cursor: pointer;
	transition:0.5s;
}
header .ul1 li:hover{
	color: rgb(255,68,0);
	background-color: white;
	text-shadow: 1px 1px 1px black;
}
header .ul1 .li1{
	background: url(../images/jiantou.png)no-repeat 106px 19px;
}
header .ul1 .li2{
	background: url(../images/wujiaoxing.png)no-repeat 9px 14px;
	margin-left: 40px;
}
header .ul1 .li3{
	background: url(../images/jiantou.png)no-repeat 96px 19px;
	margin-left: 5px;
}
header .ul1 .li4{
	background: url(../images/gouwuche.png)no-repeat 14px 14px;
	margin-left: 5px;
}
header .ul1 .li5{
	background: url(../images/jiantou.png)no-repeat 96px 19px;
	margin-left: 5px;
}
header .ul1 .ul2{
	display: none;
}
header .ul1 .ul2 li{
	transition:.5s;
}
header .ul1 .ul2 li:hover{
	color: rgb(255,68,0);
	background-color: rgb(230,230,230);
}
header .ul1 .ul2 li a{
	color: black;
}
