<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test_interface.FootmarkMapper">
<sql id="lastid">SELECT last_insert_id()</sql>

<insert id="insert" parameterType="test_pojo.Footmark"  useGeneratedKeys="true" keyProperty="id" >
    insert into footmark(member_id,goods_id) values(#{member_id},#{goods_id})
</insert>
<!-- 模板  -->
<insert id="insertbyid" parameterType="test_pojo.Footmark" useGeneratedKeys="true" keyProperty="id">
    <selectKey keyProperty="id" resultType="int" order="AFTER">
    <include refid="lastid"></include>
    </selectKey>
insert into footmark(id,member_id,goods_id) values(#{id},#{member_id},#{goods_id})
</insert>
    
<delete id="delete">
delete from footmark where id=${id}
</delete>

<select id="selectByID" parameterType="int" 
        resultType="test_pojo.Footmark">
        select * from footmark where id=#{id}</select>

<!-- 批量按id查询 --> 
<select id="selectbyidlist">
   select * from footmark where id in
   <foreach collection="list" item="id" index="currectIndex" separator="," open="(" close=")">
   #{id}
   </foreach>
   </select> 
   
<!-- 批量按id删除 --> 
<delete id="deletebyidlist">
   delete from footmark where id in
   <foreach collection="list" item="id" index="currectIndex" separator="," open="(" close=")">
   #{id}
   </foreach>
   </delete>
   
<!-- 分页 -->           
<select id="selectpage" resultType="map">
select * from footmark
</select>
</mapper>